* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Segoe UI', Arial, sans-serif; background-color: var(--bg); }
.container { display: flex; min-height: 100vh; }
section { transition: transform ease-in-out 3s; cursor: pointer; }